*{
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #e2e2e2;
}
a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
}

header{
    width: 100%;
    height: 4em;
    background-color: white;
}
.header-left{
    float: left;
    margin-left: 25px;
}
.header-right{
    float: right;
    margin-right: 25px;
}
.header-right a{
    display: block;
    line-height: 4em;
    float: left;
    padding: 0 25px;
    color: black;
}
.header-right a:hover{
    background-color: #20c0d8;
}
.flex-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-logo .logo{
    width: 3em;
}
.flex-logo .logo_name{
    width: 8em;
}
.top-wrapper{
    background-color: #20c0d8 ;
    padding-top: 30px;
    padding-bottom: 30px;
}
.top-wrapper .container{
    padding-left: 10em;
    width: 50%;
}
.article-layout .container{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    width: 100%;
}
.article-left{
    width: 75%;
    /* background-color:blueviolet; */
}
.article-right{
    width: 25%;
    padding-left: 1.5em;
}
.heading{
    margin-left: 1.5em;
}
.heading p{
    opacity: 0.5;
}
.cards{
    display: flex;
    width: 100%;
    margin-top: 2em;
    margin-left: 3em;
}
.card{
    width: 28%;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    display: block;
    padding: 0.5em;
    margin-right: 2em;
}
.card-icon img{
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-icon{
    position: relative;
}
.card-icon h3{
    position: absolute;
    width: 100%;
    top: 70%;
    left: 5%;
}
.card-content .next{
    background-color: hsl(188, 71%, 49%,0.5);
    width: 100%;
    height: 20px;
}
.card-content .next h4{
    font-size: small;
    line-height: 20px;
}
.card-content{
    padding: 0 1em;
}
.card-content p a{
    color: black;
}
.card-content p{
    opacity: 0.5;
}
.card-content .next h4{
    opacity: 1;
    padding-left: 1em;
}
.lesson-article{
    display: flex;
    flex-direction: column;
}
.lesson-article a{
    color: black;
    display: block;
    padding: 1em;
}
.lesson-article a:hover{
    background-color:#20c0d8  ;
}

@media screen and (max-width:600px){
    body{
        width: 100%;
    }
    .header-right, .header-left{
        float: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 1em;
    }
    header{
        height: 18em;
    }
    .top-wrapper .container{
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .article-layout .container{
        display: flex;
        flex-direction: column;
    }
    .article-left, .article-right{
        width: 90%;
        margin-top: 2em;
    }
    .cards{
        display: block;
    }
    .card{
        width: 80%;
        margin-top: 2em;
    }
    .card-content p{
        display: none;
    }
    .lesson-article a{
    }
}